In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'name' : ['Harry', 'Hermine', 'Ron'],
              'age' : [19, 20, 20]})

      name  age
0    Harry   19
1  Hermine   20
2      Ron   20

In [3]:
df1 = pd.DataFrame({'name' : ['Harry', 'Hermoine', 'Ron'],
              'age' : [19, 20, 20],
              'gender' : ['m', 'f', 'm']})

In [4]:
len(df1)

3

In [8]:
df1.shape

(3, 3)

In [9]:
df1['name']

0       Harry
1    Hermoine
2         Ron
Name: name, dtype: object

In [10]:
df1['name'][0]

'Harry'

In [11]:
df1['age'][0]

19

In [12]:
df1['gender'][1]

'f'

In [14]:
df1['name'][2]

'Ron'

In [16]:
df1['age'][1]

20

In [17]:
df1['name'].tail(1)

2    Ron
Name: name, dtype: object

In [19]:
df1['age'][2]

20